<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Decks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
     <img src="/flashcardimg.jpg" alt="Flashcard Image" class="img-fluid mb-3">
    <h1 class="mb-4">Decks</h1>
    <a href="/decks/new" class="btn btn-primary mb-3">Create New Deck</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deck : ${decks}">
            <td th:text="${deck.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
